@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px 10px;
    background: rgba(128, 0, 0, 0.8);
    color: #fff;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background: #000;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: color 0.3s ease-in-out;
    width: auto;
    text-align: center;
}

nav a:hover {
    color: #ff4081;
}

nav a:focus, nav a:hover {
    outline: none;
    box-shadow: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Уменьшена минимальная ширина в 4 раза */
    gap: 10px; /* Уменьшен размер отступов */
    padding: 20px;
}

.category {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Уменьшены внутренние отступы */
}

.category:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
}

.category-btn img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.category-btn span {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

button:focus, a:focus {
    outline: none;
    box-shadow: none;
}

/* Медиа-запросы для адаптации на мобильных устройствах */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .category-btn span {
        font-size: 0.8em;
    }

    nav a {
        font-size: 0.8em;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    header .logo {
        font-size: 1.5em;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        font-size: 0.8em;
        padding
