@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Style for the header */
header {
    background-color: #8B2C2C; /* Красный цвет фона */
    text-align: center;
    padding: 20px 0;
    border: 2px solid red; /* Красная рамка */
}

header .logo {
    color: white;
    font-size: 3em; /* Увеличиваем шрифт */
    font-weight: bold;
}

/* Style for the navigation bar */
nav {
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em; /* Увеличиваем шрифт */
    border: 2px solid black; /* Черная рамка */
    padding: 5px;
}

/* Style for the container */
.container {
    padding: 20px;
}

/* Styles for the gallery */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем изображение */
}

.main
