@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px 10px;
    background: #800000;
    color: #fff;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background
