@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em; /* Уменьшение текста на 33% */
}

header {
    background-color: #831425; /* Красный цвет фона */
    text-align: center;
    padding: 20px 0;
    border: 2px solid red; /* Красная рамка */
}

header .logo {
    color: white;
    font-size: 2em; /* Уменьшение текста на 33% */
    font-weight: bold;
}

nav {
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 0.68em; /* Уменьшение текста на 33% */
    border: 2px solid black; /* Черная рамка */
    padding: 5px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

nav a:hover {
    color: #ff4081;
    transform: scale(1.1);
}

nav a:focus, nav a:hover {
    outline: none;
    box-shadow: none;
}

.container {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем изображение */
}

.main-image {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 0.85em; /* Уменьшение текста на 33% */
    border-radius: 50%; /* Закругленные края */
}

button.prev {
    left: 10px; /* Устанавливаем отступ слева */
}

button.next {
    right: 10px; /* Устанавливаем отступ справа */
}

.product-detail {
    text-align: left; /* Размещаем характеристики левее */
    margin-left: 20px; /* Добавляем отступ слева */
    line-height: 1.5; /* Устанавливаем расстояние между строк[_{{{CITATION{{{_1{](https://github.com/ogabek96/webRTC-video-call/tree/c7b4086619724b6a07456c0595aa2186c8aa4ccc/public%2Fjs%2Ffullscreen.js)
